# Azure OpenAI Endpoint

AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com/openai/v1/

# GPT Deployment Name

MODEL_DEPLOYMENT=gpt-5-2

# Optional

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
